@model GoodRoadProj.Models.LocalPasswordModel
@{
    ViewBag.Title = "Смена пароля";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>

@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
